<header class="w3-container w3-blue w3-animate-top">
    <h1>A website for a developer not named Steve.</h1>
</header>
<div class="w3-row w3-red">
    <div class="w3-container w3-red w3-threequarter w3-xlarge w3-animate-right">
        That's because Steve has a job
    </div>
    <div class="w3-container w3-red w3-rest w3-xlarge w3-animate-left" style="text-align:right;">
        and I don't
    </div>
</div>
